footer {
    min-height: 150px;
    box-shadow: 0px 1px 10px black;
    padding: 20px;
    margin-top: 50px;
    p {
        text-align: center;
        font-size: @font-small;
    }
    ul {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        li {
            list-style-type: none;
            img {
                width: 25px;
            }
        }
    }
 
    svg {
        width: 25px;
        fill: @dark;
        transition: .5s;
        &:hover {
            fill: @code-green;
        }
    }
}