@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;900&family=Source+Code+Pro:wght@300;400&display=swap');
// 'Source Code Pro' 300 400
// Raleway 300 500 700 900



// * {
//     border: 1px dotted white;
// }



*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: @font-base;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5; 
    background-color: @background-color;
    font-family: @header-font, @second-font;
    color: @light;
    counter-reset: section;
}

//FONTS
h1 {
    font-size: @font-huge;
    margin: 5px 0;
}

h2 {
   font-size: @font-big;
   color: @dark;
}

h3 {
    font-family: @code-font, @second-font;
    font-size: @font-big;
    color: @white;
    list-style: decimal;
    font-weight: 400;
    padding-bottom: 20px;
    margin-left: 20px;;
}

h3::before {
    counter-increment: section;
    content: "0" counter(section) ".";
    color: @code-green;
    margin-right: 10px;
}

p {
    &.code {
        font-family: @code-font, @second-font;
        font-weight: 300;
        color: @code-green;
    }
}
//FONTS

.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-a-c {
        align-items: center;
    }

}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}