main {
    padding: 0 5%;
    section {
        height: 100vh;
        padding-top: 130px;
        h2 {
            padding-bottom: 50px;;
        }
        strong {
            color: @code-green;
            font-weight: normal;
        }
    }

}
