main {
    padding: 0 5%;
    min-height: 100vh;
    section {
        padding-top: 120px;
        h2 {
            padding-bottom: 50px;;
        }
        strong {
            color: @code-green;
            font-weight: normal;
        }
    }

}
