@import url(/general.css);

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light: hsl(270, 3%, 87%);
  --color-medium: hsl(279, 6%, 55%);
  --color-dark: hsl(278, 68%, 11%);
  --color-red: hsl(0, 100%, 66%);
  --gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
}

body {
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-family: "Space Grotesk";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.left-side {
  width: 25%;
  background: linear-gradient(
    135deg,
    #210930 0%,
    #471650 15%,
    #532439 25%,
    #2c295b 45%,
    #0e0e0e 100%
  );
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  justify-content: center;
  color: var(--color-white);
}

.right-side {
  width: 75%;
  background-color: var(--color-white);
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 150px;
  aspect-ratio: 7 / 4;
  border-radius: 10px;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
}

.card--front {
  position: relative;
  left: 30%;
  background: linear-gradient(
    135deg,
    #4c31ff 10%,
    #a176c5 45%,
    #4c79c7 65%,
    #5e0795 100%
  );
  --padding-card-front: 20px;
  padding: var(--padding-card-front);
}

.card--back {
  position: relative;
  left: 50%;
  background: linear-gradient(135deg, #fff 0%, #d6d6d6 100%);
}

.circles {
  width: 15%;
  aspect-ratio: 1 / 1;
  background-color: var(--color-white);
  border-radius: 50%;
  position: relative;
}

.circles::after {
  content: "";
  display: block;
  height: 40%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  position: absolute;
  right: -70%;
  top: 50%;
  transform: translateY(-50%);
}

.card--front__number {
  font-size: 0.85rem;
  letter-spacing: 4px;
  position: absolute;
  bottom: calc(var(--padding-card-front) * 3);
}

.card--front__owner {
  position: absolute;
  bottom: var(--padding-card-front);
  left: var(--padding-card-front);
  max-width: 175px;
  overflow: hidden;
  max-height: 1rem;
}

.card--front__date {
  position: absolute;
  bottom: var(--padding-card-front);
  right: var(--padding-card-front);
}

.card--back__line {
  width: 100%;
  height: 20%;
  margin-top: 10%;
  background-color: #2f2f2f;
}

.card--back__cvc {
  margin-inline: auto;
  margin-top: 5%;
  width: 80%;
  height: 30px;
  background-color: #adb6bf;
  border-radius: 3px;
  padding: 0 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.card--back__lines {
  height: 20%;
  width: 60%;
  margin-inline: auto;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 3px;
  row-gap: 15%;
}

.line {
  width: 50px;
  height: 10%;
  background-color: #adb6bf;
  border-radius: 2px;
}

.line:nth-child(1) {
  width: 90px;
}
.line:nth-child(2),
.line:nth-child(3) {
  width: 30px;
}

.line:nth-child(4) {
  width: 40px;
  background-color: #a3abb3;
}
.line:nth-child(5) {
  width: 30px;
  background-color: #a3abb3;
}
.line:nth-child(6) {
  width: 50px;
  background-color: #a3abb3;
}
.line:nth-child(7) {
  width: 80px;
}
.line:nth-child(8) {
  width: 15px;
}
.line:nth-child(9) {
  width: 10px;
}
.line:nth-child(10) {
  width: 35px;
}

form {
  width: 50%;
  min-width: 280px;
  max-width: 450px;
  margin-left: 160px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.row > div {
  width: 50%;
}

.date-holder {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

input,
button {
  border: 1px solid var(--color-light);
  border-radius: 5px;
  width: 100%;
  height: 2.5rem;
  padding: 10px;
  margin-top: 10px;
}

input::placeholder {
  color: var(--color-medium);
}

label {
  text-transform: uppercase;
  font-size: 0.75rem;
  width: 100%;
}

input[type="submit"] {
  background-color: var(--color-dark);
  color: var(--color-white);
  cursor: pointer;
}

form:invalid input[type="submit"] {
  background-color: var(--color-light);
}

form.confirmed input:invalid {
  border-color: var(--color-red);
  border-width: 2px;
}

/* UKRYCIE STRZALEK */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* UKRYCIE STRZALEK */

@media (width < 715px) {
  main {
    flex-direction: column;
    overflow: hidden;
  }
  .left-side,
  .right-side {
    width: 100%;
  }
  .form {
    margin: 50px 0;
    width: 80%;
  }
  .card--front {
    top: 200px;
    left: -20px;
    z-index: 2;
  }
  .card--back {
    bottom: 70px;
    left: 7%;
  }
}

.complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.complete button {
  background-color: var(--color-dark);
  color: var(--color-white);
  cursor: pointer;
  min-width: 50%;
}

.complete img {
  width: 60px;
}
