@import url(/general.css);

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light: hsl(270, 3%, 87%);
  --color-medium: hsl(279, 6%, 55%);
  --color-dark: hsl(278, 68%, 11%);
  --color-red: hsl(0, 100%, 66%);
  --gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
}

body {
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-family: "Space Grotesk";
}

/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.left-side {
  width: 25%;
  background: linear-gradient(-45deg, #fff, #fff);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  justify-content: center;
}

.right-side {
  width: 75%;
  background-color: aquamarine;
}

.card {
  background-color: antiquewhite;
  height: 24%;
  aspect-ratio: 7 / 4;
  border-radius: 10px;
}

.card-front {
  position: relative;
  left: 30%;
}

.card-back {
  position: relative;
  left: 50%;
}
