@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;900&family=Source+Code+Pro:wght@300;400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  background-color: #13152c;
  font-family: Raleway, sans-serif;
  color: #fff;
  counter-reset: section;
}
section {
  min-height: 300px;
}
h1 {
  font-size: 2.8rem;
  margin: 5px 0;
}
h2 {
  font-size: 1.2rem;
  color: #8e99bd;
  margin-top: -15px;
}
h3 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  list-style: decimal;
  font-weight: 400;
  padding-bottom: 20px;
  margin-left: 20px;
}
h3::before {
  counter-increment: section;
  content: "0" counter(section) ".";
  color: #64ffda;
  margin-right: 10px;
}
p.code {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
  color: #64ffda;
}
.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-a-c {
  align-items: center;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
progress,
progress::-webkit-progress-bar,
progress::-webkit-progress-value {
  border-radius: calc(10px / 2);
}
progress {
  width: 100%;
  height: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
}
progress::-webkit-progress-bar {
  background-color: #080018;
}
progress::-webkit-progress-value {
  background-color: #64ffda;
}
h6 {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 14px;
  margin-bottom: 3px;
  margin-left: 10px;
}
.animated-text::after {
  content: "|";
  animation: blink 1s linear infinite;
  position: relative;
  z-index: 1;
}
@keyframes blink {
  0%,
  49%,
  100% {
    opacity: 0;
  }
  50%,
  99% {
    opacity: 1;
  }
}

/* IN PROGRESS */
#in-progress {
  height: 100%;
  width: 100%;
  background-color: #0000007e;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  display: grid;
  place-items: center;
  font-size: 10vw;
  text-align: center;
  color: #64ffdb75;
  z-index: 5;
}

#in-progress p {
  transform: rotate(-10deg);
}
/* IN PROGRESS */

/* PORTFOLIO */
#projects-carusell {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#projects-carusell ul {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none; /* HIDE SCROLLBAR IE and Edge */
  scrollbar-width: none; /* HIDE SCROLLBAR Firefox */
  scroll-behavior: smooth;
  list-style-type: none;
  width: 100%;
  height: fit-content;
}

#projects-carusell ul::-webkit-scrollbar {
  display: none; /* HIDE SCROLLBAR */
}

#projects-carusell li {
  scroll-snap-align: center;
  width: 70%;
  aspect-ratio: 3 / 2;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  overflow: hidden;
  transition: 0.3s;
}

#projects-carusell li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  transition: 0.3s;
}

#projects-carusell li img {
  object-fit: cover;
  height: 80%;
  max-width: 100%;
  transition: 0.3s;
}

#projects-carusell li:first-child {
  margin-left: 15%;
}

#projects-carusell li:last-child {
  margin-right: 15%;
}

#projects-carusell .projects-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 30;
  display: flex;
  align-items: center;
  width: 15%;
  cursor: pointer;
}

#projects-carusell .projects-arrow img {
  height: 10%;
}

#projects-carusell #projects-arrow--left {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(18, 21, 43, 0.9),
    rgba(255, 255, 255, 0)
  );
}

#projects-carusell #projects-arrow--right {
  right: 0;
  background: linear-gradient(
    270deg,
    rgba(18, 21, 43, 0.9),
    rgba(255, 255, 255, 0)
  );
}

#projects-carusell .projects-arrow img {
  width: 100%;
  opacity: 0.5;
  transition: 0.3s;
}

#projects-carusell .stack-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  background-color: rgb(245, 245, 245);
  height: 20%;
  transition: 0.3s;
}

#projects-carusell .stack-container img {
  height: 50%;
}

#projects-carusell .live {
  text-align: center;
  background-color: rgb(255, 0, 0);
  position: absolute;
  font-weight: 700;
  font-size: 1.8vw;
  padding: 0.35em 200px;
  color: white;
  right: 12%;
  top: 14%;
  transform: translateY(-50%) translateX(50%) rotate(45deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 5;
}

#projects-carusell .live img {
  height: 0.7em;
}

#projects-carusell li a h1 {
  color: white;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  font-size: 5vw;
  text-align: center;
}

#projects-carusell li:hover h1 {
  opacity: 1;
}
#projects-carusell li:hover img,
#projects-carusell li:hover .stack-container {
  filter: brightness(0.5);
}

#projects-carusell .projects-arrow:hover img {
  opacity: 1;
}
